:root {
  // --color-primary: #166EE0;
  --color-primary: #0779e4;
  // --color-primary-light: #56ccf2;
  --color-primary-light: #53ABFC;
  // --color-primary-dark: #2f80ed;
  --color-primary-dark: #06539C;

  --color-gradient-dark: #2f80ed;
  --color-gradient-light: #56ccf2;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px

  @media only screen and (max-width: 730px) {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-grey-dark-2);
  background-color: var(--color-grey-light-1) !important;
  position: relative;
}
