//////////////////////////////////
/// NAVBAR
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-list {
  font-size: 1.7rem;
  list-style: none;

  display: flex;

  &__link:link,
  &__link:visited {
    color: var(--color-grey-dark-2);
    text-decoration: none;
    padding: 1rem;

    transition: color 0.2s;
  }

  &__link:hover {
    color: var(--color-primary-dark);
  }
}

.logo {
  font-family: "Karla", sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--color-primary);
  margin: 0.7rem 2rem;
}
